%section.register.container
  .row
    .span10.offset1
      =bootstrap_form_for @user, html: {class: 'form-horizontal' }, help: :block do |f|
        %header
          %h1 Register
        %fieldset
          = f.alert_message " Please check your errors."
          = f.text_field :email, :placeholder => 'me@example.com', class: "span3"
          = f.password_field :password, class: "span3"
          = f.text_field :full_name, class: "span3"
          = hidden_field_tag :invitation_token, @invitation_token
        %fieldset.actions.control-group
          .controls
            <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key=#{ ENV['STRIPE_PUBLISHABLE_KEY'] } data-amount="999" data-name="Myflix Sign Up Fee" data-description="$9.99 to sign up" data-currency="cad"></script>