<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
Stripe.setPublishableKey("#{ ENV['STRIPE_PUBLISHABLE_KEY'] }");
</script>

= javascript_include_tag 'payment'

%section.register.container
  .row
    .span10.offset1
      =bootstrap_form_for @user, html: { class: 'form-horizontal' , id: "payment-form" }, help: :block do |f|
        %header
          %h1 Register
        %fieldset
          = f.alert_message " Please check your errors."
          = f.text_field :email, :placeholder => 'me@example.com', class: "span3"
          = f.password_field :password, class: "span3"
          = f.text_field :full_name, class: "span3"
          = hidden_field_tag :invitation_token, @invitation_token
        %fieldset.credit_card
          %span.payment-errors
          .control-group
            %label.control-label Credit Card Number
            .controls
              %input.span3(type="text" data-stripe="number")
          .control-group
            %label.control-label Security Code
            .controls
              %input.span3(type="text" data-stripe="cvc")
          .control-group
            %label.control-label Expiration
            .controls
              = select_month(Date.today, {add_month_numbers: true},  class: 'span2', data: { stripe: "exp-month"} )
              = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'span1', data: { stripe: "exp-year"} )
        %fieldset.actions.control-group
          .controls
            %input(type="submit" value="Sign Up" class="btn")