%section.content.clearfix
  %article.video
    .container
      .row
      .video_large_cover.span.7.offset1
        %img{:src => "/tmp/monk_large.jpg"}/
      .video_info.span3
        %header
          %h3
            = @video.title
          %span
            Rating: 4.5/5.0
        %hr
        %p
          Description
        .actions
          %a.btn.btn-primary{:href => ""} Watch Now
          = link_to "+My Queue", queue_videos_path(video_id: @video.id), method: :post, class: 'btn' unless current_user.queued_video?(@video)
          .video.span2/

%section.reviews.container
  .row
    .span10.offset1
      = bootstrap_form_for([@video, Review.new], html: {class: 'form-vertical'}) do |f|
        %fieldset
          %label Rate this video
          = f.select :rating, options_for_video_reviews
          = f.alert_message "Please fix the errors below"
          = f.text_area :body, label: 'Write review', rows: 3, class: 'span6'
          %fieldset.actions.clearfix
            = f.submit 'Submit', disable_with: 'Saving...', class: 'btn'
            %a(href="") Cancel
      %header
        %h3 User Reviews ( #{@video.reviews.count} )
      %ul
        - @video.recent_reviews.each do |review|
          %article.review
            %li.row
              .span2
                %span Rating: #{ review.rating } / 5
                %p by #{ review.user.full_name }
              .span8
                %p= review.body
